<!-- Label and input filed -->
<div class="horizontal-layout">
   <label id="datetime-picker-label-{{label}}"
          *ngIf="label"
          for="{{label}}"
          class="clr-control-label datetime-picker-label">
      {{label}}
   </label>
   <div class="clr-control-container" [class.clr-error]="errorMessage">
      <div class="clr-input-wrapper">
         <input clrInput
                id="{{label}}"
                ngDefaultControl
                [(ngModel)]="datetime"
                [owlDateTime]="picker"
                [owlDateTimeTrigger]="picker"
                [selectMode]="selectMode"
                [placeholder]="placeholder" />
         <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <span class="clr-subtext" *ngIf="errorMessage">{{errorMessage}}</span>
   </div>
</div>
<!-- Data and time picker -->
<owl-date-time #picker ngDefaultControl [disabled]="disabled" [firstDayOfWeek]="0" [pickerType]="'calendar'"></owl-date-time>