/* Copyright 2019 VMware, Inc. All rights reserved. -- VMware Confidential */

$input-width: 7rem;
$range-input-width: $input-width * 2;
//owl-date-time is a third-party plugin whose elements are based on the font size of this component,
//so here we use "em" instead of "rem" to define its element size.
$dt-basis-size: 1em; // 13px
$dt-calendar-height: 18em;
$dt-calendar-control-padding: 0.5em;
$dt-weekdays-th-height: 1em;
$dt-timer-input-height: 1.3em;
$dt-timer-input-font-size: 1em;
$dt-timer-height: 4.5em;
$dt-timer-divider-width: 0.2em;

:host {
   // if the date picker is for a period, make the input twice wider
   &[ng-reflect-select-mode="range"] .clr-control-container {
      width: $range-input-width !important;
   }
}

.horizontal-layout {
   display: flex;
   flex: 1 0 0rem;
   flex-direction: row !important;
   flex-wrap: wrap;
   .clr-form-control {
      flex-direction: row !important;
   }
}

::ng-deep .clr-form-control {
   margin-top: 0;
}

.clr-control-label {
   margin: 8px 8px 0 0;
}

.clr-control-container {
   margin-right: 12px;
}

.datetime-picker-label {
   white-space: nowrap;
}

.clr-control-container {
   width: $input-width;
   .clr-input-wrapper {
      display: flex;
      ::ng-deep .clr-form-control {
         flex: 1 0 0rem;
         * {
            width: 100%;
         }
      }
   }
}

::ng-deep .owl-dt-container {
   // Adjust the picker to normal size.
   font-size: $dt-basis-size;

   owl-date-time-calendar {
      height: $dt-calendar-height !important;
   }
   .owl-dt-calendar-control{
      padding: 0 $dt-calendar-control-padding;
   }
   .owl-dt-weekdays th {
      line-height: $dt-weekdays-th-height !important;
      padding-bottom: 0 !important;
   }
   .owl-dt-calendar-table-divider {
      display: none;
   }
   .owl-dt-timer-content {
      align-items: baseline;
   }
   .owl-dt-timer-input {
      height: $dt-timer-input-height;
      font-size: $dt-timer-input-font-size !important;
   }
   .owl-dt-timer {
      padding: 0;
      height: $dt-timer-height;
      .owl-dt-timer-divider {
         $dt-timer-divider-width: 0.2em;
         &::before, &::after {
          // The third plugin use css to add ":" between hour and minute,
          // but the dot shape changes with browser type and resolution, so here we use "•" to display colon.
          width: 0;
          height: 0;
          content: "•";
         }
      }
      .owl-dt-timer-divider:before {
         top: 20%;
      }
      .owl-dt-timer-divider:after {
         bottom: 60%;
      }
      .owl-dt-control-arrow-button {
         display: flex;
      }
  }
}