<div class="clr-form-control clr-row">
   <label class="clr-control-label clr-col-12 clr-col-md-2">Time Range: </label>
   <div class="clr-control-container clr-col-md-10 clr-col-12">
      <clr-dropdown id="range-dropdown">
         <button class="dropdown-toggle btn btn-sm btn-link" clrDropdownToggle>
            {{currentStateLabel}}
            <clr-icon shape="caret down"></clr-icon>
         </button>
         <clr-dropdown-menu clrPosition="bottom-left">
            <button clrDropdownItem (click)="onRangeLastXDaysClick()">
               Last
            </button>
            <button clrDropdownItem (click)="onRangeCustomClick()">
               Custom
            </button>
         </clr-dropdown-menu>
      </clr-dropdown>
      <div *ngIf="currentPickerState === DateRangePickerState.LAST_X_HOURS"
           class="clr-control-container day-interval-container"
           [class.clr-error]="invalidInterval">
         <div class="clr-input-wrapper">
            <input id="day-interval"
                  name="day-interval"
                  [(ngModel)]="dayInterval"
                  type="number"
                  min="1"
                  max="30"
                  class="clr-input day-interval-input">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            Days
         </div>
      </div>
      <ng-container *ngIf="currentPickerState === DateRangePickerState.CUSTOM_RANGE">
         <vsan-datetime-picker id="from-date-input"
                              [(datetime)]="fromDate"
                              [errorMessage]="fromDateError"
                              [disabled]="invalidInterval"
                              label="From">
         </vsan-datetime-picker>
         <vsan-datetime-picker id="to-date-input"
                              [(datetime)]="toDate"
                              [errorMessage]="toDateError"
                              [disabled]="invalidInterval"
                              label="To">
         </vsan-datetime-picker>
      </ng-container>
      <button id="query-range-btn"
            (click)="onRefreshBtnClick()"
            [disabled]="disableRefresh"
            class="btn btn-sm">
         Refresh
      </button>
   </div>
</div>
