<clr-datagrid>
   <clr-dg-column>
      User
      <clr-dg-string-filter [clrDgStringFilter]="userFilter"></clr-dg-string-filter>
   </clr-dg-column>
   <clr-dg-column>Can Be FastSVS</clr-dg-column>
   <clr-dg-column>Not Supported</clr-dg-column>
   <clr-dg-column>FastSVS</clr-dg-column>

   <clr-dg-row *clrDgItems="let record of gridData">
       <clr-dg-cell>{{record.user}}</clr-dg-cell>
       <clr-dg-cell>
          <div>Total: {{record.candidate}} records</div>
          <div *ngIf="record.candidate > 0" class="links-container">
            <a *ngFor="let svs of record.fastsvsCandidatesIds"
               href="https://svs.eng.vmware.com/api/v1.1/patchesapi/{{svs}}"
               target="_blank">{{svs}}</a>
          </div>
       </clr-dg-cell>
       <clr-dg-cell>
         <div>Total: {{record.notSupported}} records</div>
         <div *ngIf="record.notSupported > 0" class="links-container">
           <a *ngFor="let svs of record.notSupportedIds"
              href="https://svs.eng.vmware.com/api/v1.1/patchesapi/{{svs}}"
              target="_blank">{{svs}}</a>
         </div>
       </clr-dg-cell>
       <clr-dg-cell>
         <div>Total: {{record.fastsvsIds?.length}} records</div>
         <div *ngIf="record.fastsvsIds?.length > 0" class="links-container">
           <a *ngFor="let svs of record.fastsvsIds"
              href="https://svs.eng.vmware.com/api/v1.1/patchesapi/{{svs}}"
              target="_blank">{{svs}}</a>
         </div>
       </clr-dg-cell>
   </clr-dg-row>

   <clr-dg-footer>{{gridData.length}} users</clr-dg-footer>
</clr-datagrid>