<form clrForm [formGroup]="configForm">
   <div class="config-item">
      <label class="config-name">Select a notification type</label>
      <clr-control-container>
         <clr-radio-container>
            <clr-radio-wrapper>
               <input clrRadio type="radio"
                      value="bugzilla"
                      [(ngModel)]="reportType"
                      [ngModelOptions]="{standalone: true}"
                      (change)="changeReportType($event)"/>
               <label>Bugzilla</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
               <input clrRadio type="radio"
                      value="bugzilla_by_assignee"
                      [(ngModel)]="reportType"
                      [ngModelOptions]="{standalone: true}"
                      (change)="changeReportType($event)"/>
               <label>Bugzilla by assignee</label>
            </clr-radio-wrapper>
            <clr-control-error>Please complete this required field.</clr-control-error>
         </clr-radio-container>
         <clr-radio-container class="clr-form-control-disabled">
            <clr-radio-wrapper >
               <input clrRadio type="radio"
                      value="perforce_checkin"
                      [(ngModel)]="reportType"
                      [ngModelOptions]="{standalone: true}"
                      disabled/>
               <label>Perforce branch checkin (TBD)</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
               <input clrRadio type="radio"
                      value="nanny_reminder"
                      [(ngModel)]="reportType"
                      [ngModelOptions]="{standalone: true}"
                      disabled/>
               <label>Nanny reminder (TBD)</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
               <input clrRadio type="radio"
                      value="jira_list"
                      [(ngModel)]="reportType"
                      [ngModelOptions]="{standalone: true}"
                      disabled/>
               <label>Jira list (TBD)</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
               <input clrRadio type="radio"
                      value="text"
                      [(ngModel)]="reportType"
                      [ngModelOptions]="{standalone: true}"
                      disabled/>
               <label>Plain text (TBD)</label>
            </clr-radio-wrapper>
         </clr-radio-container>
         <clr-control-helper class="hint-label">
            <label *ngIf="reportType == 'bugzilla'">Create a notification of bugzilla. You can create a table or list report by providing a bugzilla link. Not recommend to use short url by via server(deactivated).</label>
            <label *ngIf="reportType == 'bugzilla_by_assignee'">Create a notification of assignees' bug list. The notification will show the bugs owned by assignees who you want to monitor.</label>
            <label *ngIf="reportType == 'perforce_checkin'">Create a notification of perforce checkin. You can provide the perforce checkin branch and members which you want to monitor.</label>
            <label *ngIf="reportType == 'nanny_reminder'">Create a notification of weekly nanny reminder. The notification will mention the nanny assignee with duty messages.</label>
            <label *ngIf="reportType == 'jira_list'">Create a notification of jira list. You can create a list report by providing a jira JQL which you want to monitor.</label>
            <label *ngIf="reportType == 'text'">Create a notification of plain text. The text message will notify you on time.</label>
         </clr-control-helper>

      </clr-control-container>
   </div>

   <div class="config-item">
      <label class="config-name">Input a title for notification</label>
      <clr-control-container>
         <clr-input-container class="config-text-input">
            <input clrInput type="text"
                   placeholder="E.g. vSAN product bugs report"
                   formControlName="title"
                   [(ngModel)]="reportSpec.title"
                   required/>
            <clr-control-error>Please complete this required field.</clr-control-error>
            <clr-control-helper>As the report title, please use meaningful words.</clr-control-helper>
         </clr-input-container>
      </clr-control-container>
   </div>

   <div class="config-item">
      <label class="config-name">Input multiple webhooks of gChat spaces you want to send</label>
      <clr-control-container>
         <clr-input-container class="config-text-input">
            <input clrInput type="text"
                   placeholder="E.g. https://chat.googleapis.com/v1/spaces/.../messages?key=..."
                   formControlName="webhooks"
                   [(ngModel)]="webhooks"
                   (change)="changeWebhooks($event)"
                   required/>
            <clr-control-error>Please complete this required field.</clr-control-error>
            <clr-control-helper>Please use format: webhook1, webhook2.</clr-control-helper>
         </clr-input-container>
      </clr-control-container>
   </div>
</form>