.creation-items {
   .config-name {
       display: block;
       font-size: .7rem;
       margin-top: .2rem;
       margin-bottom: .3rem;
       color: #454545;
   }
   .clr-form-control {
      margin-top: 0.7rem;
   }

   .clr-input, .clr-select {
      width: 450px;
   }
}

.report-basic-config-card {
   border: 1px solid #aaa;
   border-radius: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 20px;
   margin-bottom: 20px;
}

.help-content {
   width: 12rem;
}

.help-icon {
   color: hsl(198, 80%, 46%);
   margin-left: 5px;
}

.model-description {
   .selected-item {
      margin-top: 1rem;
      font-size: .6rem;
   }
   .description-item {
      display: flex;
      flex-direction: column;
      margin-top: 0.5rem;
   }
}