
.report-list {
   margin: 1rem;
   height: 100%;

   clr-datagrid {
      // padding: 0 30px;
      min-height: 238px;
      height: 100%;
   }
   clr-dg-row-detail {
      padding-top: 0;
   }
}

.report-header {
   padding: .5rem .75rem;
   // font-family: Roboto,Arial,sans-serif;
   color: #000;
   background-color: #a5cf8c;
   font-size: .75rem;
   font-weight: 200;
   letter-spacing: normal;

   .btn-create-report {
      margin-left: 1000px;
   }
}

.report-datagrid-cell {
   display: flex;
   align-items: center;
   font-size: .6rem;
}

.report-title-column {
   width: 540px;
}
.report-type-column {
   width: 260px;
   font-size: .65rem;
}
.report-status-column {
   width: 200px;
}

.icon-name {
   display: flex;
   align-items: center;
   width: 20px;
   min-width: 20px;

   .signpost-content {
      min-width: 20rem;
      max-width: 30rem;
      height: 210px;

      ::ng-deep .signpost-wrap {
         height: 100%;
         ::ng-deep .signpost-content-body {
            height: 100%;
         }
      }
   }

   .tooltip:focus>:first-child {
      outline-style: none;
   }
}

.favorite-icon {
   margin-right: 5px;
}

.favorite-icon-solid {
   color: hsl(48, 95%, 48%);
   cursor: pointer;
}

label>clr-icon {
   fill: chartreuse;
}

.status {
   margin-right: 3px;
}

.status-created {
   color: hsl(48, 100%, 69%);
}

.status-enabled {
   color: hsl(93, 77%, 44%);
}

.status-disabled {
   color: hsl(198, 100%, 41%);
}

.status-removed {
   color: hsl(198, 0%, 45%);
}

.clr-form-control {
   margin: 0 10px;
}

clr-datagrid {
   padding-bottom: 1rem;
}

.btn-column {
   padding: 0;
   .btn {
      padding: 0;
      margin: 0;
   }
}

::ng-deep.modal-dialog.modal-lg {
   width: 33rem !important;
}

.pagination-list {
   clr-icon {
      height: 16px;
      width: 16px;
      cursor: pointer;
   }
}
