<clr-alert [clrAlertType]="'danger'" *ngIf="alertMessage != ''">
   <clr-alert-item>
      <span class="alert-text">
         {{ alertMessage }}
      </span>
   </clr-alert-item>
</clr-alert>


<div class="report-list">
   <div class="report-header">
      <label>There are {{ ReportList.length }} notifications in your account.</label>
      <button type="button"
              (click)="openCreateReportWizard()"
              class="btn btn-icon btn-info-outline btn-create-report">
         <clr-icon shape="plus" ></clr-icon>
         Create notification
      </button>
   </div>
   <div class="p-divider_block"></div>
   <clr-datagrid [clrDgLoading]="loading">
      <clr-dg-column  [clrDgField]="'title'">
         Title
      </clr-dg-column>
      <clr-dg-column  style="width: 180px;" [clrDgField]="'vmwareId'" *ngIf="config.isSystemAdmin">
         Owner
      </clr-dg-column>
      <clr-dg-column  style="width: 180px;" [clrDgField]="'reportType'">
         Type
      </clr-dg-column>
      <clr-dg-column  style="width: 180px;" [clrDgField]="'status'">
         Status
      </clr-dg-column>
      <clr-dg-column style="width: 600px;">
         Actions
      </clr-dg-column>
      <clr-dg-row *clrDgItems="let report of ReportList" [clrDgItem]="report">
         <clr-dg-cell class="report-datagrid-cell">
            <div class="icon-name">
               <clr-icon shape="star" size="20"
                        class="favorite-icon"
                        [ngClass]="getFavoriteIconClass(report)"
                        (click)="addOrRemoveFavorite(report)"></clr-icon>
            </div>
            <span>{{ report.title }}</span>
         </clr-dg-cell>

         <clr-dg-cell class="report-datagrid-cell" *ngIf="config.isSystemAdmin">
            <span>{{ report.creator }}</span>
         </clr-dg-cell>

         <clr-dg-cell class="report-datagrid-cell">
            <span>{{ report.reportType }}</span>
         </clr-dg-cell>

         <clr-dg-cell class="report-datagrid-cell">
            <div class="icon-name">
               <clr-icon shape="info-circle" size="22"
                         class="is-solid status"
                         [ngClass]="getReportStatusClass(report.status)"></clr-icon>
            </div>
            <span>{{ getReportStatusName(report.status) }}</span>
         </clr-dg-cell>

         <clr-dg-cell class="report-datagrid-cell">
            <button type="button"
                    class="btn btn-icon btn-info-outline"
                    aria-label="edit"
                    (click)="onEdit(report)">
               <clr-icon shape="pencil"></clr-icon>
               Edit
            </button>
            <button type="button"
                    class="btn btn-icon btn-info-outline"
                    aria-label="transfer"
                    (click)="onTransfer(report)">
               <clr-icon shape="recycle"></clr-icon>
               Transfer
            </button>
            <button *ngIf="report.status != 'ENABLED'"
                    type="button"
                    class="btn btn-icon btn-success-outline"
                    aria-label="enable"
                    (click)="onEnable(report)">
               <clr-icon shape="check"></clr-icon>
               Enable
            </button>
            <button *ngIf="report.status == 'ENABLED'"
                    type="button"
                    class="btn btn-icon btn-warning-outline"
                    aria-label="disable"
                    (click)="onDisable(report)">
               <clr-icon shape="times"></clr-icon>
               Disable
            </button>
            <button *ngIf="report.status == 'ENABLED'"
                    type="button"
                    class="btn btn-icon btn-info-outline"
                    aria-label="play"
                    (click)="onSendNow(report)">
               <clr-icon shape="play"></clr-icon>
               Invoke Now
            </button>
            <button *ngIf="config.isSystemAdmin"
                    type="button"
                    class="btn btn-icon btn-danger-outline"
                    aria-label="remove"
                    (click)="onRemove(report)">
               <clr-icon shape="trash"></clr-icon>
            </button>
         </clr-dg-cell>

         <app-report-details *clrIfExpanded [report]="report" ngProjectAs="clr-dg-row-detail"></app-report-details>
      </clr-dg-row>
   </clr-datagrid>
</div>

<app-report-wizard (refreshEmitter)="getReports()"></app-report-wizard>

<clr-modal [(clrModalOpen)]="showRemoveConfirmDialog" [clrModalClosable]="false">
   <h3 class="modal-title">Delete Notification</h3>
   <div class="modal-body">
      <label>Are you sure remove the notification: </label>
      <input type="text" class="clr-input" placeholder="Notification title" [(ngModel)]="removeReportTitle">
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="showRemoveConfirmDialog = false">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="onRemoveHandler()" [disabled]="removeReportTitle!=selectedReport?.title">Delete</button>
   </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showEnableConfirmDialog" [clrModalClosable]="false">
   <h3 class="modal-title">Enable Notification</h3>
   <div class="modal-body">
      <p>Are you sure enable this notification "{{ selectedReport?.title }}"?</p>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="showEnableConfirmDialog = false">Cancel</button>
      <button type="button" class="btn btn-success" (click)="onEnableHandler()">Confirm</button>
   </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showDisableConfirmDialog" [clrModalClosable]="false">
   <h3 class="modal-title">Disable Notification</h3>
   <div class="modal-body">
      <p>Are you sure disable this notification "{{ selectedReport?.title }}"?</p>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="showDisableConfirmDialog = false">Cancel</button>
      <button type="button" class="btn btn-success" (click)="onDisableHandler()">Confirm</button>
   </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showSendnowConfirmDialog" [clrModalClosable]="false">
   <h3 class="modal-title">Send Notification Now</h3>
   <div class="modal-body">
      <p>Are you sure send the notification "{{ selectedReport?.title }}" to inputed webhooks now?</p>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="showSendnowConfirmDialog = false">Cancel</button>
      <button type="button" class="btn btn-success" (click)="onSendNowHandler()">Confirm</button>
   </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showTransferConfirmDialog" [clrModalClosable]="false">
   <h3 class="modal-title">Transfer Notification Owner</h3>
   <div class="modal-body">
      <label>Please input the user vmware id which you want to transfer to: </label>
      <input type="text" class="clr-input" placeholder="New owner" [(ngModel)]="transferOwner">
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="showTransferConfirmDialog = false">Cancel</button>
      <button type="button" class="btn btn-success" (click)="onTransferHandler()" [disabled]="transferOwner.length==0">Confirm</button>
   </div>
</clr-modal>