<clr-alert [clrAlertType]="'danger'" *ngIf="alertMessage != ''">
   <clr-alert-item>
      <span class="alert-text">
         {{ alertMessage }}
      </span>
   </clr-alert-item>
</clr-alert>


<div class="report-list">
   <div class="report-header">
      There are {{ ReportList.length }} notifications in your account.
      <button type="button"
              (click)="openCreateReportWizard()"
              class="btn btn-primary btn-icon btn-create-report">
         <clr-icon shape="plus" ></clr-icon>
         Create notification
     </button>
   </div>
   <clr-datagrid [clrDgLoading]="loading">
      <clr-dg-column style="width: 550px;" [clrDgField]="'title'">
         Name
      </clr-dg-column>
      <clr-dg-column style="width: 200px;" *ngIf="config.isSystemAdmin">
         Creator
      </clr-dg-column>
      <clr-dg-column style="width: 260px;" [clrDgField]="'reportType'">
         Type
      </clr-dg-column>
      <clr-dg-column style="width: 200px;" [clrDgField]="'status'">
         Status
      </clr-dg-column>
      <clr-dg-column>
         Actions
      </clr-dg-column>
      <clr-dg-row *clrDgItems="let report of ReportList" [clrDgItem]="report">
         <clr-dg-cell class="report-datagrid-cell report-title-column">
            <div class="icon-name">
               <clr-icon shape="star" size="20"
                        class="favorite-icon"
                        [ngClass]="getFavoriteIconClass(report)"
                        (click)="addOrRemoveFavorite(report)"></clr-icon>
            </div>
            <span>{{ report.title }}</span>
         </clr-dg-cell>

         <clr-dg-cell class="report-datagrid-cell report-status-column" *ngIf="config.isSystemAdmin">
            <span>{{ report.creator }}</span>
         </clr-dg-cell>

         <clr-dg-cell class="report-datagrid-cell report-type-column">
            <span>{{ report.reportType }}</span>
         </clr-dg-cell>

         <clr-dg-cell class="report-datagrid-cell report-status-column">
            <div class="icon-name">
               <clr-icon shape="info-circle" size="22"
                         class="is-solid status"
                         [ngClass]="getReportStatusClass(report.status)"></clr-icon>
            </div>
            <span>{{ report.status }}</span>
         </clr-dg-cell>

         <clr-dg-cell class="report-datagrid-cell">
            <button type="button"
                    class="btn btn-icon btn-info-outline"
                    aria-label="edit"
                    (click)="onEdit(report)">
                  <clr-icon shape="pencil"></clr-icon>
               Edit
            </button>
         </clr-dg-cell>

         <clr-dg-cell class="report-datagrid-cell" *ngIf="report.status != 'Enabled'">
            <button type="button"
                    class="btn btn-icon btn-success-outline"
                    aria-label="enable"
                    (click)="onEnable(report)">
               <clr-icon shape="check"></clr-icon>
               Enable
            </button>
         </clr-dg-cell>

         <clr-dg-cell class="report-datagrid-cell" *ngIf="report.status == 'Enabled'">
            <button type="button"
                    class="btn btn-icon btn-warning-outline"
                    aria-label="disable"
                    (click)="onDisable(report)">
               <clr-icon shape="times"></clr-icon>
               Disable
            </button>
         </clr-dg-cell>

         <clr-dg-cell class="report-datagrid-cell" *ngIf="config.isSystemAdmin">
            <button type="button"
                    class="btn btn-icon btn-danger"
                    aria-label="remove"
                    (click)="onRemove(report)">
               <clr-icon shape="trash"></clr-icon>
            </button>
         </clr-dg-cell>

         <app-report-details *clrIfExpanded [report]="report" ngProjectAs="clr-dg-row-detail"></app-report-details>
      </clr-dg-row>
      <clr-dg-footer>
         <div class="pagination" *ngIf="ReportList.length > 20">
            <div class="pagination-list ng-star-inserted">
               <button class="pagination-previous"
                       type="button"
                       aria-label="First Page"
                       [disabled]="currentPage == 0"
                       (click)="getReports(0)">
                  <clr-icon shape="step-forward-2 down" role="none"></clr-icon>
               </button>
               <button class="pagination-previous"
                       type="button"
                       aria-label="Previous Page"
                       [disabled]="currentPage == 0"
                       (click)="getReports(currentPage - 1)">
                  <clr-icon shape="angle left" role="none"></clr-icon>
               </button>
               <input type="text"
                      class="pagination-current clr-input ng-star-inserted"
                      size="1"
                      aria-label="Current Page"
                      value="{{currentPage}}"
                      (keyup)="onKeyUp($event)"
                      (focusout)="onFocusout($event)">
               &nbsp;/&nbsp;
               <span aria-label="Total Pages">{{totalPage-1}}</span>
               <button class="pagination-next"
                       type="button"
                       aria-label="Next Page"
                       [disabled]="currentPage == totalPage-1"
                       (click)="getReports(currentPage + 1)">
                  <clr-icon shape="angle right" role="none"></clr-icon>
               </button>
               <button class="pagination-last"
                       type="button"
                       aria-label="Last Page"
                       [disabled]="currentPage == totalPage-1"
                       (click)="getReports(totalPage-1)">
                  <clr-icon shape="step-forward-2 up" role="none"></clr-icon>
               </button>
            </div>
         </div>
     </clr-dg-footer>
   </clr-datagrid>
</div>

<app-report-wizard (refreshEmitter)="getReports(currentPage)"></app-report-wizard>

<clr-modal [(clrModalOpen)]="showRemoveConfirmDialog" [clrModalClosable]="false">
   <h3 class="modal-title">Delete Notification</h3>
   <div class="modal-body">
      <p>Are you sure remove the notification "{{ selectedReport?.title }}"?</p>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="showRemoveConfirmDialog = false">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="onRemoveHandler()">Delete</button>
   </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showEnableConfirmDialog" [clrModalClosable]="false">
   <h3 class="modal-title">Enable Notification</h3>
   <div class="modal-body">
      <p>Are you sure enable this notification "{{ selectedReport?.title }}"?</p>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="showEnableConfirmDialog = false">Cancel</button>
      <button type="button" class="btn btn-success" (click)="onEnableHandler()">Confirm</button>
   </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showDisableConfirmDialog" [clrModalClosable]="false">
   <h3 class="modal-title">Disable Notification</h3>
   <div class="modal-body">
      <p>Are you sure disable this notification "{{ selectedReport?.title }}"?</p>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="showDisableConfirmDialog = false">Cancel</button>
      <button type="button" class="btn btn-success" (click)="onDisableHandler()">Confirm</button>
   </div>
</clr-modal>