.creation-items {
   // width: 500px;

   .clr-form-control {
      margin-top: 0.7rem;
   }
//    .clr-form-horizontal .clr-form-control>.clr-control-label {
//       text-align: right;
//    }
   .clr-input, .clr-select {
      width: 450px;
   }
//    .clr-form-control-disabled .clr-select, .signpost-content {
//       color: #000;
//    }
}

.report-basic-config-card {
   border: 1px solid #aaa;
   border-radius: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 20px;
   margin-bottom: 20px;
}

.config-name {
   font-size: .7rem;
   margin-top: .2rem;
   margin-bottom: .2rem;
   color: #454545;
}

.help-content {
   width: 12rem;
}

.help-icon {
   color: hsl(198, 80%, 46%);
   margin-left: 5px;
}

.model-description {
   .selected-item {
      margin-top: 1rem;
      font-size: .6rem;
   }
   .description-item {
      display: flex;
      flex-direction: column;
      margin-top: 0.5rem;
   }
}