
.report-list {
   margin: 1rem;
   height: 100%;

   clr-datagrid {
      // padding: 0 30px;
      min-height: 238px;
      height: 100%;
   }
   clr-dg-row-detail {
      padding-top: 0;
   }
}

.report-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: .5rem .75rem;
   color: #000;
   background-color: #a5cf8c;
   label, a {
      font-size: .75rem;
      font-weight: 200;
      letter-spacing: normal;
   }

   .btn-create-report {
      justify-content: flex-end;
      margin-right: 10px;
   }
}

.report-datagrid-cell {
   display: flex;
   align-items: center;
   font-size: .6rem;
}

.icon-name {
   display: flex;
   align-items: center;
   width: 20px;
}

.favorite-icon {
   margin-right: 5px;
}

.favorite-icon-solid {
   color: hsl(48, 95%, 48%);
   cursor: pointer;
}

.status {
   margin-right: 3px;
}

.status-created {
   color: hsl(48, 100%, 69%);
}

.status-enabled {
   color: hsl(93, 77%, 44%);
}

.status-disabled {
   color: hsl(198, 100%, 41%);
}

.status-removed {
   color: hsl(198, 0%, 45%);
}

::ng-deep.modal-dialog.modal-lg {
   width: 33rem !important;
}
