<div class="report-creation">
   <clr-wizard #reportWizard [(clrWizardOpen)]="open" class="modal-xl">
      <clr-wizard-title>{{ wizardTitle }}</clr-wizard-title>

      <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
      <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
      <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
      <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

<!--      <clr-wizard-page [clrWizardPageNextDisabled]="!basicPage.configForm.valid"-->
      <clr-wizard-page [clrWizardPagePreventDefaultNext]="true"
                       (clrWizardPageNext)="onReportSpecPage()">
         <ng-template clrPageTitle>Basic Configuration</ng-template>
         <app-wizard-basic-page #basicPage
                                [reportSpec]="reportSpec"
                                [reportType]="reportType">
         </app-wizard-basic-page>
      </clr-wizard-page>

      <clr-wizard-page
                       [clrWizardPagePreventDefaultNext]="true"
                       (clrWizardPageNext)="onRecurrencePage()">
         <ng-template clrPageTitle>Spec Configuration</ng-template>
         <app-wizard-spec-page #specPage
                               [reportSpec]="reportSpec"
                               [reportType]="reportType">
         </app-wizard-spec-page>
      </clr-wizard-page>

      <clr-wizard-page #recurrencePage
                       [clrWizardPagePreventDefaultNext]="true"
                       (clrWizardPageNext)="doFinish()">
         <ng-template clrPageTitle>Recurrence Configuration</ng-template>
         <app-wizard-recurrence-page #recurrencePage
                                     [reportSpec]="reportSpec"
                                     [reportType]="reportType">
         </app-wizard-recurrence-page>
      </clr-wizard-page>

   </clr-wizard>
</div>
