<div class="creation-items report-basic-config-card">
   <div class="clr-control-container">
       <label class="config-name">Select a notification type</label>
       <div class="clr-radio-wrapper">
            <input type="radio" name="radio-full" class="clr-radio" id="vertical-radio1" value="bugzilla" [(ngModel)]="reportType"/>
            <label for="vertical-radio1" class="clr-control-label">Bugzilla</label>
         </div>
       <div class="clr-radio-wrapper">
            <input type="radio" name="radio-full" class="clr-radio" id="vertical-radio2" value="bugzilla_by_assignee" [(ngModel)]="reportType"/>
            <label for="vertical-radio2" class="clr-control-label">Bugzilla by assignee</label>
         </div>
       <div class="clr-radio-wrapper">
            <input type="radio" name="radio-full" class="clr-radio" id="vertical-radio3" value="perforce_checkin" [(ngModel)]="reportType"/>
            <label for="vertical-radio3" class="clr-control-label">Perforce branch checkin</label>
         </div>
       <div class="clr-radio-wrapper">
            <input type="radio" name="radio-full" class="clr-radio" id="vertical-radio4" value="nanny_reminder" [(ngModel)]="reportType"/>
            <label for="vertical-radio4" class="clr-control-label">Nanny reminder</label>
         </div>
       <div class="clr-radio-wrapper">
            <input type="radio" name="radio-full" class="clr-radio" id="vertical-radio5" value="jira_list" [(ngModel)]="reportType"/>
            <label for="vertical-radio5" class="clr-control-label">Jira list</label>
         </div>
       <div class="clr-radio-wrapper">
          <input type="radio" name="radio-full" class="clr-radio" id="vertical-radio6" value="text" [(ngModel)]="reportType"/>
          <label for="vertical-radio6" class="clr-control-label">Plain text</label>
       </div>
   </div>
   <div class="model-description">
      <div class="selected-item">
         {{ getReportTypeName(reportType) }}
      </div>
      <div *ngIf="reportType == 'bugzilla'" class="description-item">
         <label>Create a notification of bugzilla. You can create a table or list report by providing a bugzilla link. Not recommend to use short url by via server(deactivated).</label>
      </div>
      <div *ngIf="reportType == 'perforce_checkin'" class="description-item">
         <label>Create a notification of perforce checkin. You can provide the perforce checkin branch and members which you want to monitor.</label>
      </div>
      <div *ngIf="reportType == 'nanny_reminder'" class="description-item">
         <label>Create a notification of weekly nanny reminder. The notification will mention the nanny assignee with duty messages.</label>
      </div>
      <div *ngIf="reportType == 'jira_list'" class="description-item">
         <label>Create a notification of jira list. You can create a list report by providing a jira JQL which you want to monitor.</label>
      </div>
      <div *ngIf="reportType == 'bugzilla_by_assignee'" class="description-item">
         <label>Create a notification of assignees' bug list. The notification will show the bugs owned by assignees who you want to monitor.</label>
      </div>
      <div *ngIf="reportType == 'text'" class="description-item">
         <label>Create a notification of plain text. The text message will notify you on time.</label>
      </div>
   </div>
</div>

<div class="creation-items report-basic-config-card">
    <clr-input-container>
        <label class="config-name">Input a title for notification</label>
        <input clrInput
               name="report-title"
               [(ngModel)]="reportTitle"
               placeholder="E.g. vSAN product bugs report"
               required/>
        <clr-control-error>Please complete this required field.</clr-control-error>
    </clr-input-container>
    <br/>

    <clr-input-container>
        <label class="config-name">Input multiple webhooks of gChat spaces you want to send</label>
        <input clrInput
               name="send-by-webhooks"
               [(ngModel)]="webhooks"
               placeholder="E.g. https://chat.googleapis.com/v1/spaces/AAAAZN9zJCU/messages?key=..."
               required/>
        <clr-control-error>Please complete this required field.</clr-control-error>
        <clr-control-helper>Please use format: webhook1, webhook2.</clr-control-helper>
    </clr-input-container>
</div>
