.clr-form {
   padding-left: 0;

   .clr-form-control {
      margin-top: 6px;

      .clr-control-label {
         min-width: 150px;
      }
   }

   .clr-row {
      margin-left: 0;
   }

   .btn-close {
      margin-left: 12px;
   }
}