<div class="title-section">
   <label><a href="/fastsvs/activeUser">Active Users</a> ({{userCount}})</label>
   <clr-dropdown>
      <button class="btn btn-link btn-sm" clrDropdownTrigger>
         <clr-icon shape="sort-by"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
         <label class="dropdown-header" aria-hidden="true">Sort By</label>
         <button clrDropdownItem
               (click)="load('user')">User ID</button>

         <button clrDropdownItem
               (click)="load('count')">Record Count</button>
      </clr-dropdown-menu>
   </clr-dropdown>
</div>
<ul class="list-unstyled" *ngIf="users">
   <ng-container *ngFor="let user of users | keyvalue: originalOrder">
      <li *ngIf="isValidUser(user.key)" class="active-user">
         <a href="javascript:void(0);" (click)="applyUserFilter(user.key)">{{user.key}}</a>
         <span>{{user.value}}</span>
      </li>
   </ng-container>
</ul>