<form clrForm clrLayout="horizontal">
   <div class="clr-row">
      <clr-input-container>
         <label class="clr-col-md-5">User Filter: </label>
         <input clrInput class="clr-col-md-7" placeholder="user id" name="user-filter" [(ngModel)]="username" />
      </clr-input-container>
      <clr-input-container>
         <label class="clr-col-md-5">Team Filter: </label>
         <input clrInput class="clr-col-md-5" placeholder="team name" name="team-filter" [(ngModel)]="team" />
      </clr-input-container>
      <clr-input-container>
         <label class="clr-col-md-5">Branch Filter: </label>
         <input clrInput class="clr-col-md-5" placeholder="branch name" name="branch-filter" [(ngModel)]="branch" />
      </clr-input-container>
      <button class="btn btn-sm btn-link" (click)="filterChange()">Filter</button>
   </div>
   <clr-toggle-container>
      <label class="clr-col-md-1">Include test records</label>
      <clr-toggle-wrapper>
         <input type="checkbox"
                clrToggle
                id="includeTestRecords"
                name="includeTestRecords"
                [(ngModel)]="includeTestRecords"
                (change)="filterChange()" />
         <label></label>
      </clr-toggle-wrapper>
   </clr-toggle-container>
   <div class="clr-row" *ngIf="userFilter || teamFilter || dateFilter || branchFilter">
      <div class="clr-form-control">
         <label class="clr-col-4 clr-control-label">Applied Filter:</label>
         <div class="clr-col-8">
            <button class="label label-light-blue btn-link"
                    *ngIf="userFilter"
                    (click)="dropFilter('', teamFilter, branchFilter, dateFilter)">
               user:
               <span class="badge badge-light-blue">{{userFilter}}</span>
               <clr-icon shape="times"
                         class="btn-close">
               </clr-icon>
            </button>
            <button class="label label-light-blue btn-link"
                    *ngIf="teamFilter"
                    (click)="dropFilter(userFilter, '', branchFilter, dateFilter)">
               team:
               <span class="badge badge-light-blue">{{teamFilter}}</span>
               <clr-icon shape="times"
                         class="btn-close">
               </clr-icon>
            </button>
            <button class="label label-light-blue btn-link"
                    *ngIf="branchFilter"
                    (click)="dropFilter(userFilter, teamFilter, '', dateFilter)">
               branch:
               <span class="badge badge-light-blue">{{branchFilter}}</span>
               <clr-icon shape="times"
                         class="btn-close">
               </clr-icon>
            </button>
            <button *ngIf="dateFilter"
                    class="label label-light-blue btn-link"
                    (click)="dropFilter(userFilter, teamFilter, branchFilter, null)">
               Date:
               <span class="badge badge-light-blue">{{dateFilter | date:'mediumDate'}}</span>
               <clr-icon shape="times"
                           class="btn-close">
               </clr-icon>
            </button>
         </div>
      </div>
   </div>
 </form>