.config-item {

  margin-bottom: 2rem;

  .config-name {
     padding-left: 0px;
     font-size: .7rem;
     font-weight: 600;
     max-width: 100%;
  };

  .hint-label {
     margin-top: .7rem;
     font-size: .6rem;
  };

  .config-text-input {
     flex-direction: column;
     margin-top: .5rem;
  };

  .clr-input, .clr-select {
     width: 450px;
  }
}

.report-basic-config-card {
   border: 1px solid #aaa;
   border-radius: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 20px;
   margin-bottom: 20px;
}