<div class="main-container" *ngIf="userName">
   <header class="header header-7">
      <div class="branding">
         <a href="/" class="nav-link">
            <img src="/assets/bot-white.png" width="24" height="24" style="color:white; margin-right: 10px;">
            <span class="title">vSAN Bot</span>
         </a>
      </div>
      <div class="header-nav">
         <a href="javascript://"
            class="nav-link nav-text"
            routerLink="reports"
            [class.active]="router.url.includes('reports')"
            >My Notifications</a>
<!--         <a href="javascript://"-->
<!--            *ngIf="isSystemAdmin"-->
<!--            class="nav-link nav-text"-->
<!--            routerLink="service"-->
<!--            [class.active]="router.url.includes('service')"-->
<!--            style="pointer-events:none;"-->
<!--            >Service Dashboard</a>-->
      </div>
      <div class="header-actions">
         <div class="username"><label>{{ userName }}</label></div>
         <div class="username">
            <a href="https://vsanbot.vdp.lvn.broadcom.net/api/v1/index.html#/"
               target="_blank"
               role="tooltip"
               aria-haspopup="true"
               class="tooltip tooltip-xs tooltip-bottom-left">
               <img src="/assets/api.svg" width="18" height="18">
               <span class="tooltip-content">API doc</span>
            </a>
         </div>
         <div class="username">
            <a href="https://vmw-confluence.broadcom.com/display/SABU/vSAN+Bot+User+Manual"
               target="_blank"
               role="tooltip"
               aria-haspopup="true"
               class="tooltip tooltip-sm tooltip-bottom-left">
               <img src="/assets/confluence-logo.svg" width="18" height="18">
               <span class="tooltip-content">User Manual</span>
            </a>
         </div>
         <div class="username">
            <a href="https://chat.google.com/room/AAAAGJUgI44?cls=7"
               target="_blank"
               role="tooltip"
               aria-haspopup="true"
               class="tooltip tooltip-sm tooltip-bottom-left">
               <img src="/assets/google-chat-logo.png" width="18" height="18">
               <span class="tooltip-content">Feedback</span>
            </a>
         </div>
      </div>
   </header>
   <div class="content-container">
      <div class="content-area">
         <router-outlet></router-outlet>
      </div>
   </div>
</div>
<clr-modal [(clrModalOpen)]="showDialog" [clrModalClosable]="false" [clrModalSize]="'sm'">
   <h3 class="modal-title">Login</h3>
   <div class="modal-body">
      <label>User:</label>
      <input type="text" class="clr-input" placeholder="VMWare ID" [(ngModel)]="userName">
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="closeModal()" [disabled]="!!!userName">OK</button>
   </div>
</clr-modal>
