<form clrForm [formGroup]="configForm">
   <div class="config-item">
      <label class="config-name">Input users you want to mention in spaces</label>
      <label>optional</label>
      <clr-control-container>
         <clr-input-container class="config-text-input">
            <input clrInput type="text"
                   placeholder="Users to be mentioned"
                   formControlName="mentionUsers"
                   [(ngModel)]="mentionUsers"
                   (change)="changeMentionUsers($event)"
                   invalidAccount/>
            <clr-control-error *clrIfError="'invalidAccount'">Invalid AD account.</clr-control-error>
         </clr-input-container>
      </clr-control-container>
      <div class="description-item">
         <label>Hint: Input VMWare AD accounts by format: user1, user2.</label>
      </div>
   </div>

   <clr-control-container>
      <clr-checkbox-wrapper>
         <input type="checkbox" clrCheckbox
                name="ProgressiveRefresh"
                [(ngModel)]="reportSpec.skipEmptyReport"
                [ngModelOptions]="{standalone: true}"/>
         <label>Skip report if no bug/change found</label>
      </clr-checkbox-wrapper>
      <div class="description-item">
         <label *ngIf="reportSpec.skipEmptyReport">If choose Yes, you won't receive notification when no bug or changes.</label>
         <label *ngIf="!reportSpec.skipEmptyReport">If choose No, you will still receive notification when no bug or changes.</label>
      </div>
   </clr-control-container>


<!--   <div class="config-item">-->
<!--      <label class="config-name">Skip report if no bug/change found</label>-->
<!--      <clr-control-container>-->
<!--         <clr-radio-container>-->
<!--            <clr-radio-wrapper>-->
<!--               <input clrRadio type="radio"-->
<!--                      value="Yes"-->
<!--                      [(ngModel)]="skipEmptyReport"-->
<!--                      [ngModelOptions]="{standalone: true}"-->
<!--                      (change)="changeSkipEmptyReport($event)"/>-->
<!--               <label>Yes</label>-->
<!--            </clr-radio-wrapper>-->
<!--            <clr-radio-wrapper>-->
<!--               <input clrRadio type="radio"-->
<!--                      value="No"-->
<!--                      [(ngModel)]="skipEmptyReport"-->
<!--                      [ngModelOptions]="{standalone: true}"-->
<!--                      (change)="changeSkipEmptyReport($event)"/>-->
<!--               <label>No</label>-->
<!--            </clr-radio-wrapper>-->
<!--         </clr-radio-container>-->
<!--      </clr-control-container>-->
<!--      <div class="description-item">-->
<!--         <label *ngIf="skipEmptyReport == 'Yes'">If choose Yes, you won't receive notification when no bug or changes.</label>-->
<!--         <label *ngIf="skipEmptyReport == 'No'">If choose No, you will still receive notification when no bug or changes.</label>-->
<!--      </div>-->
<!--   </div>-->
</form>


