<form clrForm [formGroup]="configForm">
   <div class="config-item">
      <label class="config-name">Input bugzilla link</label>
      <clr-control-container>
         <clr-input-container class="config-text-input">
            <input clrInput type="text"
                   placeholder="Bugzilla link of tabular report or list report"
                   formControlName="bugzillaLink"
                   [(ngModel)]="reportSpec.bugzilla.bugzillaLink"
                   (change)="changeBugzillalink($event)"
                   required invalidBugzillaLink/>
            <clr-control-error *clrIfError="'required'">Please complete this required field.</clr-control-error>
            <clr-control-error *clrIfError="'invalidBugzillaLink'">Unsupported bugzilla url. Refer to the hint as below for creating a bugzilla report.</clr-control-error>
         </clr-input-container>
      </clr-control-container>
      <div class="description-item">
         <label>Hint: Refer to
            <a href="https://bugzilla.eng.vmware.com/query.cgi?format=report-table">creating bugzilla tabular report</a>
             or <a href="https://bugzilla.eng.vmware.com/query.cgi?">bugzilla list</a>
         </label>
      </div>
   </div>
</form>
