<form clrForm [formGroup]="recurrenceForm">
   <div>
      <h4>Select a recurrence type</h4>
      <clr-radio-container>
         <clr-radio-wrapper>
            <input clrRadio type="radio"
                   value="not_repeat"
                   [(ngModel)]="reportSpec.repeatConfig.repeatType"
                   [ngModelOptions]="{standalone: true}"
                   (change)="changeRepeatType($event)"/>
            <label>Do not repeat</label>
         </clr-radio-wrapper>
         <clr-radio-wrapper>
            <input clrRadio type="radio"
                   value="hourly"
                   [(ngModel)]="reportSpec.repeatConfig.repeatType"
                   [ngModelOptions]="{standalone: true}"
                   (change)="changeRepeatType($event)"/>
            <label>Repeat hourly</label>
         </clr-radio-wrapper>
         <clr-radio-wrapper>
            <input clrRadio type="radio"
                   value="daily"
                   [(ngModel)]="reportSpec.repeatConfig.repeatType"
                   [ngModelOptions]="{standalone: true}"
                   (change)="changeRepeatType($event)"/>
            <label>Repeat daily</label>
         </clr-radio-wrapper>
         <clr-radio-wrapper>
            <input clrRadio type="radio"
                   value="weekly"
                   [(ngModel)]="reportSpec.repeatConfig.repeatType"
                   [ngModelOptions]="{standalone: true}"
                   (change)="changeRepeatType($event)"/>
            <label>Repeat weekly</label>
         </clr-radio-wrapper>
         <clr-radio-wrapper>
            <input clrRadio type="radio"
                   value="monthly"
                   [(ngModel)]="reportSpec.repeatConfig.repeatType"
                   [ngModelOptions]="{standalone: true}"
                   (change)="changeRepeatType($event)"/>
            <label>Repeat monthly</label>
         </clr-radio-wrapper>
         <clr-radio-wrapper>
            <input clrRadio type="radio"
                   value="cron_expression"
                   [(ngModel)]="reportSpec.repeatConfig.repeatType"
                   [ngModelOptions]="{standalone: true}"
                   (change)="changeRepeatType($event)"/>
            <label>Cron Expression</label>
         </clr-radio-wrapper>
         <clr-control-error>Please complete this required field.</clr-control-error>
         <clr-control-helper>"Do not repeat" option is not recommended for nanny reminder reports as it disables the rolling of nanny duty.</clr-control-helper>
      </clr-radio-container>
   </div>

   <div>
      <h4 *ngIf="reportSpec.repeatConfig.repeatType == 'not_repeat'">Date time setting for one-time notification</h4>
      <h4 *ngIf="reportSpec.repeatConfig.repeatType == 'hourly'">Hourly notification setting</h4>
      <h4 *ngIf="reportSpec.repeatConfig.repeatType == 'daily'">Daily notification setting</h4>
      <h4 *ngIf="reportSpec.repeatConfig.repeatType == 'weekly'">Weekly notification setting</h4>
      <h4 *ngIf="reportSpec.repeatConfig.repeatType == 'monthly'">Monthly notification setting</h4>
      <h4 *ngIf="reportSpec.repeatConfig.repeatType == 'cron_expression'">Cron expression setting</h4>

      <clr-date-container *ngIf="reportSpec.repeatConfig.repeatType == 'not_repeat'">
         <label>Input date</label>
         <input clrDate type="date"
                autocomplete="off"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="reportSpec.repeatConfig.date"
                required/>
         <clr-control-error>Please complete this required field.</clr-control-error>
      </clr-date-container>

      <clr-input-container *ngIf="reportSpec.repeatConfig.repeatType == 'hourly'">
         <label>Minutes of per hour</label>
         <input clrInput type="text"
                placeholder="MM"
                formControlName="minutesOfHour"
                (change)="changeMinutesOfPerHour($event)"
                required invalid_minute/>
         <clr-control-error *clrIfError="'required'">Please complete this required field.</clr-control-error>
         <clr-control-error *clrIfError="'invalid_minute'">Please input a number: 0 - 59.</clr-control-error>
         <clr-control-helper>Valid input: 0 - 59, e.g. 30.</clr-control-helper>
      </clr-input-container>

      <clr-checkbox-container *ngIf="reportSpec.repeatConfig.repeatType == 'weekly'">
         <label>Send the notification every</label>
         <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="weekChecked[1]"
                   (change)="changeDayOfWeek(1)"/>
            <label>Monday</label>
         </clr-checkbox-wrapper>
         <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="weekChecked[2]"
                   (change)="changeDayOfWeek(2)"/>
            <label>Tuesday</label>
         </clr-checkbox-wrapper>
         <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="weekChecked[3]"
                   (change)="changeDayOfWeek(3)"/>
            <label>Wednesday</label>
         </clr-checkbox-wrapper>
         <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="weekChecked[4]"
                   (change)="changeDayOfWeek(4)"/>
            <label>Thursday</label>
         </clr-checkbox-wrapper>
         <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="weekChecked[5]"
                   (change)="changeDayOfWeek(5)"/>
            <label>Friday</label>
         </clr-checkbox-wrapper>
         <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="weekChecked[6]"
                   (change)="changeDayOfWeek(6)"/>
            <label>Saturday</label>
         </clr-checkbox-wrapper>
         <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="weekChecked[0]"
                   (change)="changeDayOfWeek(0)"/>
            <label>Sunday</label>
         </clr-checkbox-wrapper>
      </clr-checkbox-container>

      <div class="clr-subtext-wrapper" *ngIf="reportSpec.repeatConfig.dayOfWeek.length==0 && reportSpec.repeatConfig.repeatType == 'weekly'">
         <clr-icon style="color:#c21d00; margin-top:3px;" shape="exclamation-circle"></clr-icon>
         <clr-control-error style="color:#c21d00" class="clr-subtext">Please complete this required field.</clr-control-error>
      </div>

      <clr-input-container *ngIf="reportSpec.repeatConfig.repeatType == 'monthly'">
         <label>Day of per month</label>
         <input clrInput type="text"
                placeholder="DD"
                formControlName="dayOfMonth"
                (change)="changeDayOfPerMonth($event)"
                required/>
         <clr-control-error *clrIfError="'required'">Please complete this required field.</clr-control-error>
         <clr-control-error *clrIfError="'invalid_day'">Please input a number: 1 - 31.</clr-control-error>
         <clr-control-helper>Valid input: 1 - 31, e.g. 21.</clr-control-helper>
      </clr-input-container>

      <clr-input-container *ngIf="needInputTime()">
         <label>Input time</label>
         <input clrInput type="text"
                placeholder="HH:MM"
                formControlName="repeatTime"
                (change)="changeRepeatTime($event)"
                required/>
         <clr-control-helper>Input a specific time, e.g. 14:25.</clr-control-helper>
         <clr-control-error *clrIfError="'required'">Please complete this required field.</clr-control-error>
         <clr-control-error *clrIfError="'invalid_time'">It must follow the time format "HH:MM".</clr-control-error>
      </clr-input-container>

      <clr-input-container *ngIf="reportSpec.repeatConfig.repeatType == 'cron_expression'">
         <label>Input crontab</label>
         <input clrInput type="text"
                placeholder="E.g. 30 14 * * 2"
                formControlName="cronExpression"
                (change)="changeCronExpression($event)"
                required invalid_cron/>
         <clr-control-error *clrIfError="'required'">Please complete this required field.</clr-control-error>
         <clr-control-error *clrIfError="'invalid_cron'">Invalid cron expression.</clr-control-error>
         <clr-control-helper>
            E.g. 30 14 * * 2, it means 14:30PM on every Tuesday.<br>
            Refer to <a href="https://crontab.guru/">Quick and simple editor for cron schedule expressions</a>
         </clr-control-helper>
      </clr-input-container>
   </div>

   <div>
      <h4>Set up the effective time</h4>
      <clr-date-container>
         <label>Start date</label>
         <input clrDate type="date"
                autocomplete="off"
                formControlName="startDate"
                (change)="changeStartDate($event)"
                required/>
         <clr-control-error *clrIfError="'required'">Please complete this required field.</clr-control-error>
      </clr-date-container>

      <clr-date-container>
         <label>End date</label>
         <input clrDate type="date"
                autocomplete="off"
                formControlName="endDate"
                (change)="changeEndDate($event)"
                invalid_end_day/>
         <clr-control-error *clrIfError="'invalid_end_day'">It should be greater than or equal to start date.</clr-control-error>
         <clr-control-helper>Select a date greater than or equal to start date.</clr-control-helper>
      </clr-date-container>
   </div>

</form>




