<div class="report-creation">
   <clr-wizard #reportWizard
               [(clrWizardOpen)]="open"
               [clrWizardSize]="'xl'"
               [clrWizardPreventDefaultCancel]="true"
               (clrWizardOnCancel)="doCancel()">
      <clr-wizard-title>{{ wizardTitle }}</clr-wizard-title>

      <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
      <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
      <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
      <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

      <clr-wizard-page [clrWizardPageNextDisabled]="!basicPage.configForm.valid"
                       [clrWizardPagePreventDefaultNext]="true"
                       (clrWizardPageNext)="onNextPage()"
                       [clrWizardPagePreventDefaultCancel]="true"
                       (clrWizardPageOnCancel)="doCancel()">
         <ng-template clrPageTitle>Basic Configuration</ng-template>
         <app-wizard-basic-page #basicPage
                                [reportSpec]="reportSpec"
                                [webhooks]="webhooks">
         </app-wizard-basic-page>
      </clr-wizard-page>

      <clr-wizard-page *ngIf="reportSpec.reportType === 'bugzilla'"
                       [clrWizardPageNextDisabled]="!bugzillaPage.configForm.valid"
                       [clrWizardPagePreventDefaultNext]="true"
                       (clrWizardPageNext)="onNextPage()"
                       [clrWizardPagePreventDefaultCancel]="true"
                       (clrWizardPageOnCancel)="doCancel()">
         <ng-template clrPageTitle>Bugzilla Configuration</ng-template>
         <app-wizard-bugzilla-page #bugzillaPage
                                   [reportSpec]="reportSpec">
         </app-wizard-bugzilla-page>
         <app-report-advance-option #advanceOption
                                    [mentionUsers]="mentionUsers"
                                    [reportSpec]="reportSpec">
         </app-report-advance-option>
      </clr-wizard-page>

      <clr-wizard-page *ngIf="reportSpec.reportType === 'bugzilla_by_assignee'"
                       [clrWizardPageNextDisabled]="!bugzillaAssigneePage.configForm.valid"
                       [clrWizardPagePreventDefaultNext]="true"
                       (clrWizardPageNext)="onNextPage()"
                       [clrWizardPagePreventDefaultCancel]="true"
                       (clrWizardPageOnCancel)="doCancel()">
         <ng-template clrPageTitle>Bugzilla by Assignee Configuration</ng-template>
         <app-wizard-bugzilla-assignee-page #bugzillaAssigneePage
                                            [bugzillaAssignees]="bugzillaAssignees"
                                            [reportSpec]="reportSpec">
         </app-wizard-bugzilla-assignee-page>
         <app-report-advance-option #advanceOption
                                    [mentionUsers]="mentionUsers"
                                    [reportSpec]="reportSpec">
         </app-report-advance-option>
      </clr-wizard-page>

      <clr-wizard-page #recurrencePage
                       [clrWizardPagePreventDefaultNext]="true"
                       (clrWizardPageNext)="doFinish()"
                       [clrWizardPagePreventDefaultCancel]="true"
                       (clrWizardPageOnCancel)="doCancel()">
         <ng-template clrPageTitle>Recurrence Configuration</ng-template>
         <app-wizard-recurrence-page #recurrencePage
                                     [reportSpec]="reportSpec">
         </app-wizard-recurrence-page>
      </clr-wizard-page>

   </clr-wizard>
</div>
