<div class="report-creation">
   <clr-wizard #reportWizard
               [(clrWizardOpen)]="open"
               [clrWizardSize]="'xl'"
               [clrWizardPreventDefaultCancel]="true"
               (clrWizardOnCancel)="doCancel()">
      <clr-wizard-title>{{ wizardTitle }}</clr-wizard-title>

      <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
      <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
      <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
      <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

      <clr-wizard-page [clrWizardPagePreventDefaultNext]="true"
                       (clrWizardPageNext)="doNext()"
                       [clrWizardPagePreventDefaultCancel]="true"
                       (clrWizardPageOnCancel)="doCancel()">
         <ng-template clrPageTitle>Basic Configuration</ng-template>
         <app-wizard-basic-page #basicPage
                                [reportSpec]="reportSpec"
                                [webhooks]="webhooks"
                                [mentionUsers]="mentionUsers"
                                [bugzillaAssignees]="bugzillaAssignees">
         </app-wizard-basic-page>
      </clr-wizard-page>

      <clr-wizard-page [clrWizardPagePreventDefaultNext]="true"
                       (clrWizardPageNext)="doNext()"
                       [clrWizardPagePreventDefaultCancel]="true"
                       (clrWizardPageOnCancel)="doCancel()">
         <ng-template clrPageTitle>Recurrence Configuration</ng-template>
         <app-wizard-recurrence-page #recurrencePage
                                     [reportSpec]="reportSpec"
                                     [weekChecked]="weekChecked">
         </app-wizard-recurrence-page>
      </clr-wizard-page>

      <clr-wizard-page [clrWizardPageNextDisabled]="!isValid"
                       [clrWizardPagePreventDefaultNext]="true"
                       (clrWizardPageNext)="doFinish()"
                       [clrWizardPagePreventDefaultCancel]="true"
                       (clrWizardPageOnCancel)="doCancel()">
         <ng-template clrPageTitle>Notification Configuration Overview</ng-template>
         <ng-template clrPageNavTitle>
            <span *ngIf="isValid">Ready to go!</span>
            <span *ngIf="!isValid">Not ready yet</span>
         </ng-template>
         <app-wizard-overview-page #overviewPage
                                   [reportSpec]="reportSpec"
                                   [isValid]="isValid">
         </app-wizard-overview-page>
      </clr-wizard-page>

   </clr-wizard>
</div>
