<form clrForm>
   <h4>Select a recurrence type</h4>
   <clr-radio-container>
      <clr-radio-wrapper>
         <input clrRadio type="radio"
                value="not_repeat"
                [(ngModel)]="reportSpec.repeatConfig.repeatType"
                [ngModelOptions]="{standalone: true}"
                (change)="changeRepeatType($event)"/>
         <label>Do not repeat</label>
      </clr-radio-wrapper>
      <clr-radio-wrapper>
         <input clrRadio type="radio"
                value="hourly"
                [(ngModel)]="reportSpec.repeatConfig.repeatType"
                [ngModelOptions]="{standalone: true}"
                (change)="changeRepeatType($event)"/>
         <label>Repeat hourly</label>
      </clr-radio-wrapper>
      <clr-radio-wrapper>
         <input clrRadio type="radio"
                value="daily"
                [(ngModel)]="reportSpec.repeatConfig.repeatType"
                [ngModelOptions]="{standalone: true}"
                (change)="changeRepeatType($event)"/>
         <label>Repeat daily</label>
      </clr-radio-wrapper>
      <clr-radio-wrapper>
         <input clrRadio type="radio"
                value="weekly"
                [(ngModel)]="reportSpec.repeatConfig.repeatType"
                [ngModelOptions]="{standalone: true}"
                (change)="changeRepeatType($event)"/>
         <label>Repeat weekly</label>
      </clr-radio-wrapper>
      <clr-radio-wrapper>
         <input clrRadio type="radio"
                value="monthly"
                [(ngModel)]="reportSpec.repeatConfig.repeatType"
                [ngModelOptions]="{standalone: true}"
                (change)="changeRepeatType($event)"/>
         <label>Repeat monthly</label>
      </clr-radio-wrapper>
      <clr-radio-wrapper>
         <input clrRadio type="radio"
                value="cron_expression"
                [(ngModel)]="reportSpec.repeatConfig.repeatType"
                [ngModelOptions]="{standalone: true}"
                (change)="changeRepeatType($event)"/>
         <label>Cron Expression</label>
      </clr-radio-wrapper>
      <clr-control-error>Please complete this required field.</clr-control-error>
      <clr-control-helper>"Do not repeat" option is not recommended for nanny reminder reports as it disables the rolling of nanny duty.</clr-control-helper>
   </clr-radio-container>
</form>

<form clrForm *ngIf="reportSpec.repeatConfig.repeatType == 'not_repeat'">
   <h4>Date time setting for one-time notification</h4>
   <clr-date-container>
      <label>Input date</label>
      <input clrDate type="date"
             autocomplete="off"
             name="not-repeat-date"
             [(ngModel)]="reportSpec.repeatConfig.date"
             min="todayDate"
             required/>
      <clr-control-error *clrIfError="'required'">Please complete this required field.</clr-control-error>
      <clr-control-error *clrIfError="'min'">Invalid date.</clr-control-error>
      <clr-control-helper>Select a date from today: {{ todayDate }}.</clr-control-helper>
   </clr-date-container>

   <clr-input-container>
      <label>Input time</label>
      <input clrInput type="text"
             placeholder="HH:MM"
             [(ngModel)]="notRepeatTime"
             [ngModelOptions]="{standalone: true}"
             (change)="changeNotRepeatTime($event)"
             required/>
      <clr-control-error *clrIfError="'required'">Please complete this required field.</clr-control-error>
      <clr-control-error>Invalid time.</clr-control-error>
      <clr-control-helper>Input a specific time, e.g. 14:25.</clr-control-helper>
   </clr-input-container>
</form>

<form clrForm>
   <h4>Set up the effective time</h4>
   <clr-date-container>
      <label>Start date</label>
      <input clrDate type="date"
             autocomplete="off"
             name="startDate"
             [(ngModel)]="reportSpec.repeatConfig.startDate"
             required/>
      <clr-control-error *clrIfError="'required'">Please complete this required field.</clr-control-error>
      <clr-control-helper>Select a date from today: {{ todayDate }}.</clr-control-helper>
   </clr-date-container>

   <clr-date-container>
      <label>End date</label>
      <input clrDate type="date"
             autocomplete="off"
             name="endDate"
             [(ngModel)]="reportSpec.repeatConfig.endDate"
             min="reportSpec.repeatConfig.startDate"/>
      <clr-control-error *clrIfError="'min'">Invalid date.</clr-control-error>
      <clr-control-helper>Select a date greater than or equal to start date.</clr-control-helper>
   </clr-date-container>
</form>

