<div *ngIf="isValid">
   <h3>Congratulations! You are done with this notification configuration.</h3>

   <section class="overview">
      <div>
         <label>Title:</label>
         <span>{{ reportSpec.title }}</span>
      </div>
      <div>
         <label>Webhook(s):</label>
         <span *ngFor="let webhook of reportSpec.webhooks; let i = index">
            <a href="{{ webhook }}">webhook-{{ i + 1 }}</a>
         </span>
      </div>
      <div *ngIf="reportSpec.reportType === 'bugzilla'">
         <label>Bugzilla link:</label>
         <a href="{{ reportSpec.bugzilla.bugzillaLink }}">url</a>
      </div>
      <div *ngIf="reportSpec.reportType === 'bugzilla_by_assignee'">
         <label>Bugzilla by assignee(s):</label>
         <span *ngFor="let assignee of reportSpec.bugzillaAssignee.bugzillaAssignees">
            {{ assignee }}
         </span>
      </div>
      <div *ngIf="reportSpec.reportType === 'text' || reportSpec.reportType === 'nanny_reminder'">
         <label>Plain text:</label>
         <div>{{ reportSpec.text }}</div>
      </div>

      <div *ngIf="reportSpec.reportType === 'nanny_reminder'">
         <label>Nanny assignees:</label>
         <span *ngFor="let assignee of reportSpec.nannyReminder.nannyAssignees">
            {{ assignee }}
         </span>
      </div>
      <div *ngIf="reportSpec.reportType === 'nanny_reminder'">
         <label>Nanny roster:</label>
         <table class="table" style="width:60%;" *ngIf="reportSpec.nannyReminder.nannyRosters.length > 0">
           <thead>
              <tr>
                 <th class="left">Time Range</th>
                 <th>Nanny Assignees</th>
              </tr>
           </thead>
           <tbody>
              <tr *ngFor="let data of reportSpec.nannyReminder.nannyRosters">
                 <td class="left" *ngIf="data.end.length>0">{{ data.start }} -- {{ data.end }}</td>
                 <td class="left" *ngIf="data.end.length==0">{{ data.start }}</td>
                 <td>{{ data.nanny }}</td>
              </tr>
           </tbody>
         </table>
         <span *ngIf="reportSpec.nannyReminder.nannyRosters.length === 0">Error: Not configure the nanny roster.</span>
      </div>
      <div *ngIf="reportSpec.mentionUsers.length > 0">
         <label>Mention user(s):</label>
         <span *ngFor="let user of reportSpec.mentionUsers">
            {{ user }}
         </span>
      </div>
      <div *ngIf="checkSkipEmptyReport()">
         <label>Skip report if no bug/change found:</label>
         <span *ngIf="reportSpec.skipEmptyReport">Yes</span>
         <span *ngIf="!reportSpec.skipEmptyReport">No</span>
      </div>
      <div>
         <label>Recurrence:</label>
         <span>{{ reportSpec.repeatConfig.displayTime }}</span>
      </div>
      <div>
         <label>Next sending time:</label>
         <span>{{ reportSpec.repeatConfig.nextSendTime }}</span>
      </div>
    </section>
</div>





