<div>
   <h3>Congratulations! You are done with this notification configuration.</h3>

   <section class="overview">
      <div>
         <label>Title:</label>
         <span>{{ reportSpec.title }}</span>
      </div>
      <div>
         <label>Webhook(s):</label>
         <span *ngFor="let webhook of reportSpec.webhooks; let i = index">
            <a href="{{ webhook }}">webhook-{{ i + 1 }}</a>
         </span>
      </div>
      <div *ngIf="reportSpec.reportType === 'bugzilla'">
         <label>Bugzilla link:</label>
         <a href="{{ reportSpec.bugzilla.bugzillaLink }}">url</a>
      </div>
      <div *ngIf="reportSpec.bugzilla.sendIfDiff">
         <clr-icon shape="check-circle" role="img" size="26" style="color:#55b109;"></clr-icon>
         <span>Skip report if current PR list is the same as the last.</span>
      </div>
      <div *ngIf="reportSpec.bugzilla.list2table">
         <clr-icon shape="check-circle" role="img" size="26" style="color:#55b109;"></clr-icon>
         <span>Bugzilla list convert to table report.</span>
      </div>
      <div *ngIf="reportSpec.bugzilla.foldPRList">
         <clr-icon shape="check-circle" role="img" size="26" style="color:#55b109;"></clr-icon>
         <span>Fold PR list by displaying in thread.</span>
      </div>
      <div *ngIf="reportSpec.reportType === 'bugzilla_by_assignee'">
         <label>Bugzilla by assignee(s):</label>
         <span *ngFor="let assignee of reportSpec.bugzillaAssignee.bugzillaAssignees">
            {{ assignee }}
         </span>
      </div>
      <div *ngIf="reportSpec.reportType === 'text' || reportSpec.reportType === 'nanny_reminder'">
         <label>Plain text:</label>
         <div>{{ reportSpec.text }}</div>
      </div>

      <div *ngIf="reportSpec.reportType === 'nanny_reminder'">
         <label>Nanny assignees:</label>
         <span *ngFor="let assignee of reportSpec.nannyReminder.nannyAssignees">
            {{ assignee }}
         </span>
      </div>
      <div *ngIf="reportSpec.reportType === 'nanny_reminder'">
         <label>Nanny roster:</label>
         <table class="table" style="width:60%;" *ngIf="reportSpec.nannyReminder.nannyRosters.length > 0">
           <thead>
              <tr>
                 <th>Time Range</th>
                 <th>Nanny Assignees</th>
              </tr>
           </thead>
           <tbody>
              <tr *ngFor="let data of reportSpec.nannyReminder.nannyRosters">
                 <td  *ngIf="data.end.length>0">{{ data.start }} -- {{ data.end }}</td>
                 <td  *ngIf="data.end.length==0">{{ data.start }}</td>
                 <td>{{ data.nanny }}</td>
              </tr>
           </tbody>
         </table>
      </div>
      <div *ngIf="reportSpec.reportType === 'perforce_checkin'">
         <label>Perforce checkin branches:</label>
         <span *ngFor="let branch of reportSpec.perforceCheckin.branches">
            {{ branch }}
         </span>
      </div>
      <div *ngIf="reportSpec.reportType === 'perforce_checkin'">
         <label>Perforce checkin member scope:</label>
         <div *ngIf="reportSpec.perforceCheckin.teams.length > 0">
            <label>&nbsp;&nbsp;Team Group</label>
            <span *ngFor="let team of reportSpec.perforceCheckin.teams">
               {{ team }}
            </span>
         </div>
         <div *ngFor="let filter of reportSpec.perforceCheckin.membersFilters; let i=index">
            <span>&nbsp;&nbsp;Member filter {{ i+1 }}:</span>
            <span *ngIf="filter.condition == 'include'">Include</span>
            <span *ngIf="filter.condition == 'exclude'">Exclude</span>
            <span *ngIf="filter.type == 'selected'"> selected users: {{ filter.members.join(', ') }}</span>
            <span *ngIf="filter.type == 'direct_reporters'"> direct reporters of users: {{ filter.members.join(', ') }}</span>
            <span *ngIf="filter.type == 'all_reporters'"> all reporters of users: {{ filter.members.join(', ') }}</span>
         </div>
      </div>

      <div *ngIf="reportSpec.reportType === 'perforce_checkin'">
         <label>Need checkin approved info:</label>
         <span *ngIf="reportSpec.perforceCheckin.needCheckinApproved">Yes</span>
         <span *ngIf="!reportSpec.perforceCheckin.needCheckinApproved">No</span>
      </div>

      <div *ngIf="reportSpec.mentionUsers.length > 0">
         <label>Mention user(s):</label>
         <span *ngFor="let user of reportSpec.mentionUsers">
            {{ user }}
         </span>
      </div>
      <div *ngIf="checkSkipEmptyReport()">
         <label>Skip report if no bug/change found:</label>
         <span *ngIf="reportSpec.skipEmptyReport">Yes</span>
         <span *ngIf="!reportSpec.skipEmptyReport">No</span>
      </div>
      <div>
         <label>Recurrence:</label>
         <span>{{ reportSpec.repeatConfig.displayTime }}</span>
      </div>
      <div>
         <label>Next sending time:</label>
         <span>{{ reportSpec.repeatConfig.nextSendTime }}</span>
      </div>
      <div>
         <label>Time Zone:</label>
         <span>{{ reportSpec.repeatConfig.tz }}</span>
      </div>
    </section>
</div>





