<clr-tabs>
   <clr-tab>
       <button clrTabLink id="records">FastSVS Records</button>
       <ng-template [(clrIfActive)]="gridTabActive">
         <clr-tab-content id="records-container">
            <user-filter
                  [userFilter]="filterSpec?.user"
                  [teamFilter]="filterSpec?.team"
                  [dateFilter]="filterSpec?.date"
                  [branchFilter]="filterSpec?.branch"
                  (userFilterChange)="acceptFilter($event)"></user-filter>
            <div class="record-container">
               <fastsvs-records-grid [filterSpec]="filterSpec"></fastsvs-records-grid>
               <user-list (userClicked)="acceptFilter($event)"></user-list>
            </div>
         </clr-tab-content>
       </ng-template>
   </clr-tab>
   <clr-tab>
       <button clrTabLink id="statistics">Statistics</button>
       <clr-tab-content *clrIfActive>
          <chart-container (clickOnPoint)="showDetailedPointData($event)"></chart-container>
       </clr-tab-content>
   </clr-tab>
</clr-tabs>